* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  


}
body{
  background: grey;
  overflow-x: hidden;
  
}
h1, h4, a{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
ul {
  list-style-type: none;
}
.btn {
  padding: 10px 22px;
  font-size: 1rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 15px 10px;
}
.btn-light{
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: rgb(192, 175, 162);
  color: #222;
  transition: 0.3s;


}




